<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body
    {
     background-color:rgb(122, 161, 175);
    }
</style>
<body>
         <p style="text-align: right;"><button><a href="/adminLogout" >Logout</button></a></p>
    <center>
        <h1>Admin Dashboard..</h1>
        <hr>
      
        <table border="1">
            <tr><td><a href="/showAllCategories"><button style="width: 100px;"><h3>Categories</h3></button></a></td></tr>
            <tr><td><a href="/showAllTickets"><button style="width: 100px;"><h3>Tickets</h3></button></a></td></tr>
        </table>
        
    </center>
</body>
</html>