<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body
    {
     background-color:darkorchid;
    }
</style>
<body>
    <center>
        <h1>Delete Category..</h1>
        <hr>
        <form method="post">
        <table border="1">
            <tr>
                <td>Are You Sure You Want To Delete?</td>
            </tr>
             <tr>
                <td><input type="submit" value="Yes" name="action"/>
                <input type="submit" value="No" name="action"/></td>
            </tr>
        </table>
        </form>
    </center>
</body>
</html>