<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body
    {
     background-color:rgb(122, 161, 175);
    }
</style>
<body>
    <center>
        <h1>Update Category..</h1>
        <hr>
        <form method="post">
        <table border="1">
            <tr>
                <td>Category</td>
                <td><input type="text" name="catname" value="{{cat[1]}}" required/></td>
            </tr>
             <tr>
                <td><input type="submit" value="Save Category"/></td>
            </tr>
        </table>
        </form>
    </center>
</body>
</html>